// Import Bootstrap functions and variables
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// Customize theme colors by adding a new color
$theme-colors: (
  "primary": #007BFF,
  "secondary": #FF6F00,
  "success": #198754,
  "info": #0dcaf0,
  "warning": #ffc107,
  "danger": #dc3545,
  "light": #F8F9FA,
  "dark": #212529,
);

// Import the rest of Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

a{
  color:white !important;
  text-decoration: none !important;
}

.navbar {
  .nav-item:not(.dropdown){
    .nav-link {
      position:relative;
      border-radius:1rem;
      transition: .5s;
      &:hover{
        color: #FF6F00 !important;
        .fa-globe{
          color:white !important;
        }
        &::after{
          width: calc(100% - 16px);
        }
      }
      &::after{
        content:'';
        position:absolute;
        top:90%;
        left:50%;
        transform: translateX(-50%);
        background-color: #FF6F00;
        height: 3px;
        width: 0;
        transition: .5s;
      }
    }
  }
  
}
